body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans',
		'Droid Sans', 'Helvetica Neue', sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

/* #114B5F page
#446990 questionaire box
#E4FDE0 input 
#F45B69 submit button 
font-family: museo sans
font-weight: 500 */

.font {
	font-family: 'Museo sans';
	font-weight: 500;
}
